.task-item {
  border-radius: 20px;
  background-color: var(--primary-light-color) !important;
  width: 350px;
}

.task-delete-btn {
  padding: 2px !important;
  margin-top: -5px;
  margin-left: 4px;
  margin-right: -6px;
}

.activity-item {
  max-width: 333px;
  border-radius: 16px;
  background-color: white !important;
}

.member-item {
  border-radius: 18px;
  background-color: var(--primary-light-color) !important;
  width: 600px;
  padding-left: 5px;
  padding-right: 10px;
}

.activity-item.ant-card-bordered:hover {
  border: 1px solid var(--border-color) !important;
}

.project-item {
  border-radius: 20px;
  background-color: var(--primary-light-color) !important;
  width: 400px;
}

.small-text {
  font-size: 14px !important;
}

.smaller-text {
  font-size: 13px !important;
}

.task-item-header {
  margin-bottom: 4px;
}

.ant-card-body {
  padding: 10px 12px 12px 12px !important;
}

.ant-card-bordered {
  border: 1px solid var(--border-color) !important;

  &:hover {
    border: 1px solid var(--primary-light-color) !important;
  }
}

/* Popconfirm */

.ant-popconfirm-message {
  display: flex;
  align-items: center !important;
}

span.ant-popconfirm-message-icon {
  display: grid;
  place-content: center;
}

.ant-popconfirm-title {
  margin-left: 6px;
}

/* Task & Project Container */

.task-container {
  min-width: 380px;
  max-width: 380px;
  overflow-y: hidden;
  padding: 6px 10px 14px 10px;

  &:hover {
    overflow-y: auto;
  }
}

.project-container {
  min-width: 1420px;
  max-width: 1420px;
  max-height: 680px;
  overflow-y: hidden;
  padding: 6px 10px 14px 10px;

  &:hover {
    overflow-y: auto;
  }
}

.team-member-container {
  min-width : 700px;
  max-width : 700px;
  max-height: 600px;
  overflow-y: hidden;
  padding: 6px 10px 14px 10px;
  margin-left: -10px;

  &:hover {
    overflow-y: auto;
  }
}
