.task-item {
  border-radius: 20px;
  background-color: var(--primary-light-color) !important;
  width: 350px;
}

.project-item {
 border-radius: 20px;
  background-color: var(--primary-light-color) !important;
  width: 400px; 
}

.small-text {
  font-size: 14px !important;
}

.smaller-text {
  font-size: 13px !important;
}

.task-item-header {
  margin-bottom: 4px;
}

.ant-card-body {
  padding: 10px 12px 12px 12px !important;
}

.ant-card-bordered {
  border: 1px solid var(--border-color) !important;

  &:hover {
    border: transparent !important;
  }
}

/* Task & Project Container */

.task-container {
  min-width: 380px;
  max-width: 380px;
  max-height: 680px;
  overflow-y: hidden;
  padding: 6px 10px 14px 10px;

  &:hover {
    overflow-y: auto;
  }
}

.project-container {
  min-width: 420px;
  max-width: 420px;
  max-height: 680px;
  overflow-y: hidden;
  padding: 6px 10px 14px 10px;

  &:hover {
    overflow-y: auto;
  }
}
