.task-item {
  border-radius: 20px;
  background-color: var(--primary-light-color) !important;
  width: 350px;
}

.task-delete-btn {
  padding: 2px !important;
  margin-right: -3px;
}

.activity-item {
  max-width: 333px;
  border-radius: 16px;
  background-color: white !important;
}

.member-item {
  border-radius: 18px;
  background-color: var(--primary-light-color) !important;
  width: 600px;
  padding-left: 5px;
  padding-right: 10px;
}

.activity-item.ant-card-bordered:hover {
  border: 1px solid var(--border-color) !important;
}

.activity-task-tag > svg {
  margin-bottom: -2px;
  margin-left: -2px;
  margin-right: 2px;
}

.project-item {
  border-radius: 20px;
  background-color: var(--primary-light-color) !important;
  width: 400px;
}

.small-text {
  font-size: 14px !important;
}

.smaller-text {
  font-size: 13px !important;
}

.task-item-header {
  margin-bottom: 6px;
  margin-top: -4px;
}

.ant-card-body {
  padding: 10px 12px 12px 12px !important;
}

.ant-card-bordered {
  border: 1px solid var(--border-color) !important;

  &:hover {
    border: 1px solid var(--primary-light-color) !important;
  }
}

/* Popconfirm */

.ant-popconfirm-message {
  display: flex;
  align-items: center !important;
}

span.ant-popconfirm-message-icon {
  display: grid;
  place-content: center;
}

.ant-popconfirm-title {
  margin-left: 6px;
}

/* Task & Project Container */

.task-container {
  min-width: 380px;
  max-width: 380px;
  overflow-y: hidden;
  padding: 6px 10px 14px 10px;

  &:hover {
    overflow-y: auto;
  }
}

.due-tasks-container {
  min-width: 760px;
  max-width: 760px;
  max-height: 680px;
  overflow-y: hidden;
  padding: 6px 10px 14px 10px;

  &:hover {
    overflow-y: auto;
  }
}

.search-container {
  margin-top: 40px;
  min-height: 250px;
  max-height: 250px;
  min-width: 550px;
  padding: 0px 18px 18px 20px;
  overflow-y: hidden;

  &:hover {
    overflow-y: auto;
  }
}

.search-task {
  max-width: 540px;
  border: 1px solid var(--border-color) !important;
}

.project-container {
  min-width: 430px;
  max-width: 430px;
  max-height: 680px;
  overflow-y: hidden;
  padding: 6px 10px 14px 10px;

  &:hover {
    overflow-y: auto;
  }
}

.container-header {
  margin-left: 10px !important;
  margin-bottom: 40px !important;
}

.team-member-container {
  min-width: 700px;
  max-width: 700px;
  max-height: 600px;
  overflow-y: hidden;
  padding: 6px 10px 14px 10px;
  margin-left: -10px;

  &:hover {
    overflow-y: auto;
  }
}

/* Status Form styles */

.statuses-container-parent {
  margin-left: auto;
  margin-right: auto;

  min-height: 200px;
  max-height: 200px;
  min-width: 350px;
  max-width: 350px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 10px 40px 10px;
}

.statuses-container {
  min-width: 260px;
  max-width: 260px;

  min-height: 200px;
  max-height: 200px;
  padding: 10px;
  overflow-y: hidden;

  &:hover {
    overflow-y: auto;
  }
}
