:root {
  --primary-color: rgba(20, 27, 52, 0.47);
  --primary-darker-color: rgba(20, 27, 52, 0.6);
  --primary-light-color: rgba(20, 27, 52, 0.03);
  --color-black: rgba(0, 0, 0, 0.88);
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  scroll-behavior: smooth;
  margin: 0 !important;
  background-color: var(--primary-light-color);
}

/* ========= Ant Design Overrides ========= */

h1.ant-typography {
  font-size: 43px;
}

.ant-form .ant-form-item {
  margin-bottom: 14px;
}

.ant-layout {
  background: var(--primary-light-color) !important;
}

.ant-layout-content {
  background: white;
  border-top-left-radius: 25px;
  padding: 20px;
}

.ant-btn-color-primary {
  box-shadow: 0 2px 2px rgba(2, 7, 14, 0.288);
}

.ant-btn-variant-solid:hover {
  background: var(--primary-darker-color) !important;
}

.ant-switch.ant-switch-checked {
  background: var(--primary-darker-color) !important;
}

/* Dropdown | Select */

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  font-weight: 500 !important;
  color: white !important;
  background: var(--primary-darker-color) !important;
}

/* Notification */

.ant-notification-notice {
  padding: 14px 18px !important;
}

.ant-notification-notice-message {
  font-size: 15px !important;
}

.ant-notification-notice-close {
  margin-top: -6px;
}

.ant-notification-notice-icon>svg {
  height: 0.9em !important;
  margin-bottom: -0.1em !important;
}

/* .ant-notification-notice {
  padding: 14px 20px !important;
}

.ant-notification-notice-message {
  font-size: medium !important;
} */

/* ========= Custom Styles ========= */

.text-primary {
  color: var(--primary-color);
}
