h2.ant-typography {
  margin-block: 0 !important;
}

.activity-container {
  position: relative;
  margin-top: 20px;
  background-color: #eaeaed !important;
  border-radius: 24px !important;
  padding: 10px 4px 12px 0 !important;
  width: 100%;
  min-height: 770px;
  max-height: 770px;
  overflow-y: hidden;
}

.activity-container-inner {
  width: 100%;
  min-height: 740px;
  max-height: 740px;
  overflow-y: hidden;
  padding: 0 0 14px 12px !important;

  &:hover {
    overflow-y: auto;
  }
}

.project-description {
  margin-top: 20px;
  padding: 28px;
  background-color: var(--primary-light-color) !important;
  border-radius: 24px !important;
  max-height: 220px;
  min-height: 220px;
}

.value-container {
  padding: 2px 4px;
  background-color: #eaeaed !important;
  border-radius: 4px !important;
  margin: 0 4px;
}
