.ant-menu-item-selected {
  background-color: white !important;
  color: var(--color-black) !important;
  box-shadow: 0 2px 2px rgba(2, 7, 14, 0.185);
}

.ant-menu-item {
  &:active {
    background-color: white !important;
  }

  display: flex !important;
  margin-inline: 0px !important;
  margin-block: 6px !important;
  align-items: center !important;
}

.ant-menu-submenu-title {
  display: flex !important;
  align-items: center !important;
  margin-inline: 0 !important;

  &:active {
    background-color: white !important;
  }
}

.ant-menu-submenu-selected>.ant-menu-submenu-title {
  color: var(--color-black) !important;
}

.header-button {
  padding: 10px;

  &:hover {
    background-color: white !important;
    box-shadow: 0 2px 2px rgba(2, 7, 14, 0.185);
  }
}

.menu-popup {
  width: 100px;
}

.menu-popup .ant-menu-item {
  margin-inline: 4px !important;
  margin-block: 6px !important;

  &:active {
    background-color: white !important;
  }
}
